@model List<RecipeModel>

@{
    ViewData["Title"] = "recipe list";
}
<div class="container">
    <div class="row">
        <div class="col-9">
            <table class="table table-hover table-border">
                @foreach (var recipe in Model)
                {
                    <tr>
                        <td>@recipe.Name</td>
                        <td style="text-align: end;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn">Edit</button>
                                <button type="button" class="btn btn-danger btn">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-3">
            <div class="btn-group-vertical">
                <a class="btn btn-outline-primary btn-lg" asp-action="NewRecipe">Add</a>
                <button type="button" class="btn btn-outline-primary btn-lg">Create menu</button>
            </div>
        </div>
    </div>
</div>