@model NewRecipeModelView

@{
    ViewData["Title"] = "new recipe";

    // fill fields with previously written data
    Model.RecipeName = Convert.ToString(TempData["recipeName"]);
    Model.Description = Convert.ToString(TempData["description"]);
}

<form method="POST">
    <div class="form-group">
        <label for="RecipeName" class="form-label">Name:</label>
        <input asp-for="RecipeName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description" class="form-label">Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div>
        <label>Ingredients:</label>
        <table class="table table-border">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
            </thead>
            @foreach (var ingredient in ViewBag.ingredients)
            {
                <tr>
                    <td>@ingredient.Name</td>
                    <td>@ingredient.Quantity</td>
                    <td>@ingredient.Unit</td>
                </tr>
            }
        </table>
    </div>
    <div class="form-group">
        <label for="IngredientName" class="form-label">Ingredient's name:</label>
        <input asp-for="IngredientName" class="form-control" />
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Quantity" class="form-label">Quantity:</label>
                <input type="number" min="0" step="0.1" asp-for="Quantity" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Unit" class="form-label">Unit:</label>
                <input asp-for="Unit" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-lg" asp-action="AddIngredient">Add ingredient</button>
        </div>
        <div class="col" style="text-align: end;">
            <button type="submit" class="btn btn-success btn-lg" asp-action="AddRecipe">Add recipe</button>
            <button type="submit" class="btn btn-danger btn-lg" asp-action="DiscardRecipe">Cancel</button>
        </div>
    </div>
</form>