@model NewRecipeModelView

@{
    if (Convert.ToString(TempData["mode"]) != "edit")
        ViewData["Title"] = "new recipe";
    else
        ViewData["Title"] = "edit recipe";

    // fill fields with previously written data
    if (TempData["recipeName"] != null)
        Model.RecipeName = Convert.ToString(TempData["recipeName"]);
    if (TempData["description"] != null)
        Model.Description = Convert.ToString(TempData["description"]);
}

<form method="POST">
    <div class="form-group">
        <label for="RecipeName" class="form-label">Name:</label>
        <input asp-for="RecipeName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description" class="form-label">Description:</label>
        <textarea asp-for="Description" class="form-control" style="height: 120px;"></textarea>
    </div>
    <div>
        <label>Ingredients:</label>
        <table class="table table-border">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th colspan="2">Unit</th>
                </tr>
            </thead>
            @for (var index = 0; index < ViewBag.ingredients.Count; index++)
            {
                <tr>
                    <td>@ViewBag.ingredients[index].Name</td>
                    <td>@ViewBag.ingredients[index].Quantity</td>
                    <td>@ViewBag.ingredients[index].Unit</td>
                    <td style="text-align: end;">
                        <button type="submit" class="btn btn-danger btn" asp-action="DeleteIngredient" asp-route-id='@index'>Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="form-group">
        <label for="IngredientName" class="form-label">Ingredient's name:</label>
        <input asp-for="IngredientName" class="form-control" />
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Quantity" class="form-label">Quantity:</label>
                <input type="number" min="0" step="0.1" asp-for="Quantity" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="Unit" class="form-label">Unit:</label>
                <input asp-for="Unit" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-lg" asp-action="AddIngredient">Add ingredient</button>
        </div>
        <div class="col" style="text-align: end;">
            @if (Convert.ToString(TempData["mode"]) == "edit")
            {
                <button type="submit" class="btn btn-success btn-lg" asp-action="EditRecipe">Edit recipe</button>
            }
            else
            {
                <button type="submit" class="btn btn-success btn-lg" asp-action="AddRecipe">Add recipe</button>
            }
            <a class="btn btn-danger btn-lg" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>

@{
    // keep current mode info from deleting
    TempData.Keep("mode");
}
